<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-salesmanago"
        version="1.0.0">
    <name>SalesManago Plugin</name>
    <description>Interact with SalesManago</description>
    <license>Apache 2.0</license>
    <keywords>cordova plugin sales manago</keywords>
 
    <js-module src="www/plugin.js" name="salesManago">
        <clobbers target="cordova.plugins.salesManago" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
			<feature name="SalesManagoPlugin">
				<param name="android-package" value="com.salesmanago.sdk.SalesManagoPlugin"/>
			</feature>
		</config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.appmanago.lib.fcm.AmFirebaseListenerService">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>
        </config-file>

        <config-file target="res/values/strings.xml" parent="/*">
            <string name="appmanago_launch_time">30</string>
            <string name="appmanago_sync_meantime">360</string>
            <string name="appmanago_endpoint">https://api.appmanago.com</string>
            <string name="appmanago_vendor_id">L9MCFLZ4DNW3YZRW</string>
            <string name="appmanago_application_id">rcl</string>
            <string name="appmanago_gps_sync_time">2</string>
            <string name="appmanago_gps_front_available">0</string>
            <string name="appmanago_gps_accuracy">BALANCED</string>
        </config-file>

		<source-file src="src/android/SalesManagoPlugin.java" target-dir="src/com/salesmanago/sdk" />

        <resource-file src="libs/android/appmanagolibrary.aar" target="libs/appmanagolibrary.aar" />

		<framework src="src/android/SalesManagoPlugin.gradle" custom="true" type="gradleReference" />
	</platform>

    <platform name="ios">
        <hook type="after_prepare" src="hooks/afterPluginInstall.js" />
        
		<config-file target="config.xml" parent="/*">
			<feature name="SalesManagoPlugin">
				<param name="ios-package" value="SalesManagoPlugin"/>
                <param name="onload" value="true" />
			</feature>
		</config-file>

        <config-file target="*-Info.plist" parent="amAppId">
            <string>rcl</string>
        </config-file>
        <config-file target="*-Info.plist" parent="amSyncMeantime">
            <string>360</string>
        </config-file>
        <config-file target="*-Info.plist" parent="amDevice~ipad">
            <string>TABLET</string>
        </config-file>
        <config-file target="*-Info.plist" parent="amDevice~iphone">
            <string>PHONE</string>
        </config-file>
        <config-file target="*-Info.plist" parent="amDevice~ipod">
            <string>PHONE</string>
        </config-file>
        <config-file target="*-Info.plist" parent="amSessionSplitTimeInterval">
            <string>5</string>
        </config-file>
        <config-file target="*-Info.plist" parent="amVendorId">
            <string>L9MCFLZ4DNW3YZRW</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSExceptionDomains</key>
                <dict>
                    <key>appmanago.com</key>
                    <dict>
                        <key>NSExceptionRequiresForwardSecrecy</key>
                        <false/>
                        <key>NSIncludesSubdomains</key>
                        <true/>
                    </dict>
                </dict>
            </dict>
        </config-file>
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>

        <header-file src="src/ios/AppDelegate+SalesManagoPlugin.h" />
        <source-file src="src/ios/AppDelegate+SalesManagoPlugin.m" />
		<header-file src="src/ios/SalesManagoPlugin.h" target-dir="ios"/>
		<source-file src="src/ios/SalesManagoPlugin.m" target-dir="ios"/>

		<header-file src="libs/ios/AMMonitor.framework/Versions/A/Headers/AMMonitor.h" target-dir="ios"/>
		<header-file src="libs/ios/AMMonitor.framework/Versions/A/Headers/AMNotification.h" target-dir="ios"/>
		
		<source-file src="libs/ios/AMMonitor.framework/Versions/A/AMMonitor" framework="true" />
		
		<!--<source-file src="libs/ios/AMMonitor.framework" target-dir="lib" framework="true" /> -->
		
        <!--<framework src="libs/ios/AMMonitor.framework" custom="true" embed="true" /> -->
		<!-- <framework src="libs/ios/AMMonitor.framework" custom="true" embed="true" weak="true" /> -->
        
        <resource-file src="libs/ios/AMMonitorBundle.bundle" />
		
		<!--
		<hook type="after_plugin_add" src="hooks/xcode-config.js" />
		<hook type="after_platform_add" src="hooks/xcode-config.js" />
		-->
	</platform>
</plugin>